# Database (Neon PostgreSQL)
DATABASE_URL="postgresql://user:password@ep-cool-db-123456.us-east-1.aws.neon.tech/neondb?sslmode=require"

# Server Settings (Render)
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Auth & Services
JWT_SECRET=your_super_secret_jwt_key
RESEND_API_KEY=re_123456789
STORE_EMAIL=jahwebproductions+madkicks@gmail.com