# Node Modules
node_modules/
client/node_modules/
server/node_modules/

# Environment Secrets
.env
*.env
client/.env
server/.env

# Build Outputs
client/dist/
client/build/
server/dist/

# Logs
*.log
npm-debug.log*